{% extends 'base.html' %}
{% load static %}
{% block content %}

<marquee style="font-family:'Monotype Corsiva'; font-size: 25px; color: darkorange; background-color:black; font-weight:bold; margin-top:1%">Recruiter Login</marquee>
<hr>

<div class="container mt-5" style="max-width: 500px;">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}

    <form method="post" action="{% url 'recruiter_login' %}">

        {% csrf_token %}

        <div class="mb-3">
            <label for="uname" class="form-label"><b>Email Address</b></label>
            <input type="email" class="form-control" id="uname" name="uname" placeholder="Enter your email" required>
        </div>

        <div class="mb-3">
            <label for="pwd" class="form-label"><b>Password</b></label>
            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter your password" required>
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="{% url 'user_signup' %}" class="btn btn-secondary">Sign Up</a>

        </div>
    </form>
</div>

{% endblock %}
